.main-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    
    margin: auto;

    padding-top: 50px;

}

.notes-list{

    margin-top: 30px;
}

app-carta-notas{
    display: block;
    margin-bottom: 25px;
}