<div class="main-container">


    <div class="search-bar">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Filtro">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>
    </div>
    
    <div class="notes-list">
        <app-carta-notas title="cardTitle" body="Testing testing testing"></app-carta-notas>
        <app-carta-notas></app-carta-notas>
        <app-carta-notas></app-carta-notas>
    </div>
</div>