<div class="main-container">


    <div class="search-bar">
        <div class="field">
            <p class="control has-icons-left">
                <input #filterInput class="input" type="text" (keyup)="filtro($any($event.target).value)" placeholder="Filtro">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>
    </div>
    
    <div class="notes-list">
        <app-carta-notas 
            *ngFor="let nota of notasFiltradas;" 
            [link]="generateNoteUrl(nota)"
            (delete)= "deleteNota(nota)"
            [title]="nota.titulo"  
            [body]="nota.body"></app-carta-notas>
    </div>

    <button class="button floating-add-button is-primary" routerLink="new">Añadir</button>
</div>